<%= render "devise/shared/second-header" %>

<div class="account_page">
  <div class="registrations_left">
    <div class="account_logo">
      <h1>Create Account</h1>
    </div>
  </div>
  <div class="registrations_right">
    <%= form_with model: resource, as: resource_name, url: registration_path(resource_name), local: true do |f|%>
      <div class="right_top">
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <div class="field-label">
            <%= f.label :name%>
          </div>
          <div class="field-input">
            <%= f.text_field :name, autofocus: true%>
          </div>
        </div>
        <div class="field">
          <div class="field-label">
            <%= f.label :password%>
            <i>(英数字6文字以上)</i>
          </div>
          <div class="field-input">
            <%= f.password_field :password, autocomplete: "off"%>
          </div>
        </div>
        <div class="field">
          <div class="field-label">
            <%= f.label :password_confirmation%>
          </div>
          <div class="field-input">
            <%= f.password_field :password_confirmation, autocomplete: "off"%>
          </div>
        </div>
      </div>
      <div class="right_favorites">
        <div class="favorites">
          <div class="field">
            <div class="field-label">
              <%= f.label :favorite1%>
            </div>
            <div class="field-input">
              <%= f.file_field :image, class: 'image' %>
                <%# user.images.each do |image|%>
                  <%#= image_tag image.to_s %>
                <%# end %>
              <%= f.text_field :favorite1, autofocus: true%>
            </div>
          </div>
          <%# <div class="field"> %>
            <%# <div class="field-label"> %>
              <%# <%= f.label :favorite2%>
            <%# </div> %>
            <%# <div class="field-input"> %>
              <%# <%= f.file_field :image2 %>
              <%# <%= f.text_field :favorite2, autofocus: true%>
            <%# </div> %>
          <%# </div> %>
          <%# <div class="field"> %>
            <%# <div class="field-label"> %>
              <%# <%= f.label :favorite3%>
            <%# </div> %>
            <%# <div class="field-input"> %>
              <%# <%= f.file_field :image3 %>
              <%# <%= f.text_field :favorite3, autofocus: true%>
            <%# </div> %>
          <%# </div> %>
        <%# </div> %>
        <%# <div class="favorites"> %>
          <%# <div class="field"> %>
            <%# <div class="field-label"> %>
              <%# <%= f.label :favorite4%>
            <%# </div> %>
            <%# <div class="field-input"> %>
              <%# <%= f.file_field :image4 %>
              <%# <%= f.text_field :favorite4, autofocus: true%>
            <%# </div> %>
          <%# </div> %>
          <%# <div class="field"> %>
            <%# <div class="field-label"> %>
              <%# <%= f.label :favorite5%>
            <%# </div> %>
            <%# <div class="field-input"> %>
              <%# <%= f.file_field :image5 %>
              <%# <%= f.text_field :favorite5, autofocus: true%>
            <%# </div> %>
          <%# </div> %>
        <%# </div> %>
        <div class="actions">
          <%= f.submit "Create Account", class: "signup_btn" %>
        </div>
      </div>
    <% end %>
  </div>
</div>





