<div class="main_wrapper">
  <div class="room_introduction">
    <%= link_to "#{current_user.name}", user_path, class: :room_name %>
      's room
  </div>
  <div class="my_favorites"> 
      My favorites
    <div class="favorites_shelf">
      <div class="favorite_image">
        <%= image_tag @user.image.to_s, class: "fav_image" %>
      </div>
      <div class="favorite_name">
        <%= @user.favorite1 %>
      </div>
      <%# @user.image.each do |image|%>
        <%#= image_tag(@user.image, width:150) %>
      <%# end %>
    </div>
  </div>
  <% if user_signed_in? %>
  <%= link_to(new_perfume_path, class: "lineup_btn") do %>
    <span class="lineup_btn_text">Line up</span>
    <%= image_tag 'icon_perfume.png', size: '185x50' ,class: "lineup_btn_icon" %>
  <% end %>
<% else %>
  <%= link_to(new_user_session_path, class: "lineup_btn") do %>
    <span class="lineup_btn_text">Line up</span>
    <%= image_tag 'icon_perfume.png', size: '185x50' ,class: "lineup_btn_icon" %>
  <% end %>
<% end %>
</div>