<%= render "devise/shared/second-header" %>

<div class="account_page">
  <div class="sessions_left">
    <div class="account_logo">
      <h1>Log in</h1>
    </div>
  </div>
  <div class="sessions_right">
      <%= form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f|%>
        <div class="field">
          <div class="field-label">
            <%= f.label :name%>
          </div>
          <div class="field-input">
            <%= f.text_field :name, autofocus: true%>
          </div>
          <div class="field">
            <div class="field-label">
              <%= f.label :password%>
              <i>(英数字6文字以上)</i>
            </div>
            <div class="field-input">
              <%= f.password_field :password, autocomplete: "off"%>
            </div>
          </div>
          <div class="actions">
            <%= f.submit "Log in", class: "log_in_btn"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
